<div class="container">
  <ng-container *ngIf="page$ | async as page">
    <div class="row">
      <div class="w-100">
        <select [(ngModel)]="categoryFilter">
          <option [ngValue]="undefined">全部</option>
          @for (c of categoryList$ | async; track c) {
            <option [ngValue]="c">{{ c.name }}</option>
          }
        </select>
      </div>
    </div>
    <div class="row">
      <div class="w-40 w-md-40">當前頁數：{{ page }}</div>
      <div class="w-20 w-md-10 ms-auto">
        <button class="w-100" (click)="prePage()">上一頁</button>
      </div>
      <div class="w-20 w-md-10">
        <button class="w-100" (click)="nextPage()">下一頁</button>
      </div>
    </div>

    <div class="row">
      <div class="w-80">地點</div>
      <div class="w-20">操作</div>
    </div>
    @for (loc of allLoc$ | async; track loc; let idx = $index) {
      @if (idx >= (page - 1) * 10 && idx < page * 10) {
        <div class="row">
          <div class="w-80">
            <div class="row">
              <div class="w-100 w-md-40 bg-skin">{{ loc.name }}</div>
              <div class="w-100 w-md-60 bg-blue">{{ loc.address }}</div>
            </div>
          </div>
          <div class="w-20 bg-white clickable" (click)="addFav(loc)">加入最愛</div>
        </div>
      }
    }
  </ng-container>
</div>
